    <header>
          <a href="/" class="title-link">
              <h1 title="Click here to get back to the main page.">The Study of Rot</h1></a>

        <nav>
            <a href="/">Home</a>&nbsp;|&nbsp;
            <a href="/works">Works</a>&nbsp;|&nbsp;
            <a href="/creators">Creators</a>&nbsp;|&nbsp;
            <a href="/illustrations">illustrations</a>&nbsp;|&nbsp;
            <a href="/about">About</a>
        </nav>
    </header>