<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head', {title: 'Illustrations | Study of Rot'}) %>

<body>
  <%- include('../includes/header') %>

  <main>
    <h1>Placeholder</h1>
    <p>Illustrations.</p>
  </main>

</body>
</html>