<!doctype html>
<html lang="en-US">
<%- include('../includes/head', {title: 'Illustrations | Study of Rot'}) %>
<body>
<%- include('../includes/header') %>
</br>
<main>
  <img src="/images/apostle.png" class="illustration"
       alt="An illustration of a tall and slender humanoid creature with long horns, pointy ears and a bald head, wearing black robes."/>
    <p>The Apostle</p>
  <img src="/images/cactus.png" class="illustration"
      alt="A black and white illustration of something resembling a rotten cactus with a face fused into it."/>
    <p>A cactus</p>
    </main>
</body>
</html>