<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head', {title: 'Creators | Study of Rot'}) %>

<body>
  <%- include('../includes/header') %>

  <main>
    <p>Works:</p>
    <ul>
        <li><a href="/works/no-longer-human">No Longer Human</a></li>
        <li><a href="/works/goodnight-punpun">Goodnight Punpun</a></li>
    </ul>
  </main>

</body>
</html>