<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head', {title: 'Creators | Study of Rot'}) %>

<body>
  <%- include('../includes/header') %>

  <main>
    <h2>Creators</h2>
    <ul>
      <% creatorList.forEach(creator => { %>
        <li>
          <a href="/creators/<%= creator.slug %>"><%= creator.name %></a>
        </li>
     <% }) %>
    </ul>
  </main>

</body>
</html>