<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head', {title: 'About | Study of Rot'}) %>

<body>
  <%- include('includes/header') %>

  <main>
    <h2>About this page</h2>
    <p>This is a personal website that will feature short commentary about my favorite works and creators. 
    <p>It will be centered around themes of shame, alienation and self-destruction.
    <p>It will also feature some of my own work.</p>
  </main>

</body>
</html>