<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head', {title: 'About | Study of Rot'}) %>

<body>
  <%- include('includes/header') %>

  <main>
    <h1>About this page</h1>
    <p>This is a personal website that will feature short commentary about my favorite works and creators. 
    <p>It will be centered around themes of shame, alienation and self-destruction.
    <p>I might also feature some of my illustrations.</p>
    <p>This also serves as a university project I'm doing for a web development course.</p>
  </main>

</body>
</html>