<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head', {title: 'Error | Study of Rot'}) %>

<body>
  <%- include('includes/header') %>

  <main>
    <h1>Error 404</h1>
    <p>You must be lost. Try a different URL.</p>
    
    
  </main>

</body>
</html>