<!doctype html>
<html lang="en-US">
<%- include('includes/head', {title: 'Home | Study of Rot'}) %>
<body>
<%- include('includes/header') %>
</br>
<main>   
    <a href="/projects/project1">
    <img src="images/apostle.png" title="Click here to get to Project 1" 
         alt="An illustration of a tall and slender humanoid 
              creature with long horns, pointy ears and a bald head, wearing black robes."/>
    </a>
    <p><strong>Project 1</strong>: This illustration is a placeholder. I want to showcase my UI work here later.</p>

    <a href="/projects/project2">
    <img src="/images/cactus.png" title="Click here to get to Project 2" 
         alt="A black and white illustration of something resembling a rotten cactus with a face fused into it."/>
    </a>
    <p><strong>Project 2</strong>: This illustration is a placeholder. I want to showcase my UX work here later.</p>
    
    <p>I plan on featuring the following projects:</p>
    <ul>
        <li>"Vibe", a social media app focused on authentic connections, Visual Interface Design</li>
        <li>"Spirituality in the Digital Age", User Experience Project</li>
    </ul>
    <br/>
    <p>Check out my<a href="https://tricolor-bit-9de.notion.site/Amon-David-2e1ed108fe138057a812f6fd2ca33dcd?pvs=74">
        other work
    </a>or read <a href="/about">about me</a></p>
    </main>
</body>
</html>