<!doctype html>
<html lang="en-US">
<%- include('includes/head', {title: 'Home | Study of Rot'}) %>
<body>
<%- include('includes/header') %>
<br>
<main>   
<h2>Vile Emptiness</h2>
<p>It's not too late to turn back. Consider what you're getting into.</p>
    </main>
</body>
</html>