<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head', {title: 'Works | Study of Rot'}) %>

<body>
  <%- include('../includes/header') %>

  <main>
    <p>Works:</p>
    <ul>
      <% workList.forEach(work => { %>
        <li>
          <a href="/works/<%= work.slug %>"><%= work.name %></a>
        </li>
     <% }) %>
    </ul>
  </main>

</body>
</html>